<div class="container">
  <div class="exit-wrapper">
    <div class="title">
      <h1>出口 一覧</h1>
    </div>
    <ul>
      <% @exits.each do |exit| %>
        <li>
          <%= link_to exit_path(exit) do %>
            <%= exit.number %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>