<div class="container">
  <div class="wrapper">
    <div class="title">
      <h1>管理者画面へようこそ</h1>
      <p>場所の登録や編集、削除などの管理ができます。</p>
    </div>
    
    <div class="row justify-content-around no-gutters panel_area">
      <div class="col-10 col-lg-5 mb-5">
        <%= link_to destination_admin_places_path do %>
          <div class="panel border">
            <h2>目的地一覧へ</h2>
            <p>目的地の編集や削除ができます。</p>
            <div><i class="fas fa-map-marked-alt"></i></div>
          </div>
        <% end %>
      </div>
      <div class="col-10 col-lg-5 mb-5">
        <%= link_to new_admin_place_path do %>
          <div class="panel border">
            <h2>新規場所登録</h2>
            <p>新しい目的地を追加できます。</p>
            <div><i class="fas fa-edit"></i></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>