<!--管理者画面-->

<div class="admin-new-wrapper">
  <div class="title">
    <h1>登録</h1>
    <p>新しい場所を登録できます。</p>
  </div>
  
  <div class="form_panel">
    <div class="panel_side">
      <%= link_to "場所設定", new_admin_place_path %>
    </div>
    <%= render "form", place: @place %>
  </div>
</div>