@import "variable";
@import "mixin";

// 管理者トップページ 0
.admin-wrapper {
  @include linkStyle;
  @include titleStyle;
  .panel_area {
    display:flex;
    justify-content: space-evenly;
    .panel {
      width: 500px;
      padding: 50px;
      @include boxStyle;
      @include panelStyle
    }
  }
}


// 新規登録画面 admin/places/new 0

.admin-new-wrapper {
  font-family: $subFont;
  @include titleStyle;
  .form_panel {
    width: 1100px;
    display:flex;
    margin: 100px auto;
    @include boxStyle;
    .panel_side {
      width: 250px;
      background-color: #F7F7F8;
      border-radius: 14px 0 0 14px;
      text-align: center;
      padding: 50px;
      @include linkStyle($subColor);
    }
    .panel_body {
      width: 850px;
      padding: 50px;
      .form-group {
        padding-bottom : 45px;
        margin: 0px;
        h4 {
          font-size: 16px;
          font-weight: 700;
          border-bottom: 1px solid #ededee;
          padding-bottom: 18px;
          margin: 0px;
        }
        label {
          font-size: 12px;
          font-weight: 700;
          color: $subColor;
        }
      }
    }
  }
}


// 場所一覧画面

.place_list {
  padding-top: 50px;
  .place_panel {
    display:flex;
    margin-bottom: 40px;
    @include boxStyle;
    .place_image {
      img {
        border-radius: 14px 0 0 14px;
        width: 250px;
        height: 150px;
        object-fit: cover;
      }
    }
    .place_detail {
      h5 {
        color: $mainColor;
        font-weight: 700;
        padding: 10px 30px;
        margin: 0px;
      }
    }
  }
}

.place_list {
  ul {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}