@import "variable";
@import "mixin";

// 管理者トップページ
.wrapper {
  @include linkStyle;
  @include titleStyle;
  .panel_area {
    .panel {
      padding: 50px 10px;
      @include panelStyle;
      @include boxStyle;
      div {
        color: $subColor;
        font-size: 50px;
        padding: 20px;
      }
    }
  }
}


//目的地一覧テーブル admin/places/destination

.admin-table-wrapper {
  .table {
    font-family: $mainFont;
  }
}


// 新規登録画面 場所編集画面 admin/places/new admin/places/edit
.admin-wrapper {
  padding: 50px 0;
  font-family: $mainFont;
  @include titleStyle;
  .form_panel {
    display:flex;
    .panel_side {
      background-color: #F7F7F8;
      text-align: center;
      padding: 50px 0;
      @include linkStyle($subColor);
    }
    .panel_body {
      padding: 50px;
      .form-group {
        padding-bottom : 45px;
        margin: 0px;
        h4 {
          font-size: 16px;
          font-weight: 700;
          border-bottom: 1px solid #ededee;
          padding-bottom: 18px;
          margin: 0px;
        }
        label {
          font-size: 12px;
          font-weight: 700;
          color: $subColor;
        }
      }
    }
  }
}