/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variable";
@import "mixin";
 
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap');

header {
  .navbar-brand {
    font-family: $subFont;
  }
}

body {
  font-family: $mainFont;
  color: $mainColor;
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 0px;
}

.container-fluid {
  padding: 0px;
}

.wrapper {
  padding: 50px 0;
}

.fav-on-btn {
  color :#e54747;
  font-size: 23px;
}

.fav-off-btn {
  color: $subColor;
  font-size: 23px;
}

.breadcrumb {
  background-color: #FFF;
  border-bottom: 1px solid #ddd;
  a {
    color: $subColor;
    padding: 0 20px;
  }
  .current {
    padding: 0 20px;
  }
}