@import "variable";
@import "mixin";

.exit-wrapper {
  @include titleStyle;
  .exit_panel_area {
    display:flex;
    justify-content: space-evenly;
    @include listStyle;
    .exit_panel {
      width: 200px;
      padding: 30px 50px;
      @include boxStyle;
      h3 {
        text-align: center;
      }
    }
  }
}