@import "variable";
@import "mixin";

// トップページ places/index

.toppage {
  width: auto;
  height: auto;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}


// 検索画面 places/search 0

.search-wrapper {
  @include linkStyle;
  @include titleStyle;
  .panel_area {
    display:flex;
    justify-content: space-evenly;
    .panel {
      width: 500px;
      padding: 50px;
      @include boxStyle;
      @include panelStyle
    }
  }
}


// 目的地一覧

.wrapper {
  padding: 50px 0;
  .title {
     text-align: center;
     h1 {
        color: $mainColor;
        font-weight: 700;
        margin-bottom: 50px;
     }
  }
}

.wrapper {
  .place_list {
    .place_panel {
      display:flex;
      margin-bottom: 40px;
      @include boxStyle;
      .place_image {
        img {
          border-radius: 14px 0 0 14px;
          width: 250px;
          height: 150px;
          object-fit: cover;
        }
      }
      .place_detail {
        h5 {
          color: $mainColor;
          font-weight: 700;
          padding: 10px 30px;
          margin: 0px;
        }
      }
    }
  }
}

.wrapper {
  .place_list {
    ul {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}