@import "variable";
@import "mixin";

// 新規登録画面 ログイン画面 devise/registrations/new & devise/sessions/new

.form {
  font-family: $subFont;
  width: 470px;
  margin: 90px auto;
  @include boxStyle;
  .form_header {
    padding: 30px;
    text-align: center;
    h2 {
      font-weight: 700;
    }
    p {
      color: $subColor;
      margin: 0px;
    }
  }
  .form_body {
    .custom-form {
      width: 420px;
      margin-bottom: 25px;
    }
    .remember_me {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .form_footer {
    border-top: 1px solid #ddd;
    padding: 30px;
    text-align: center;
  }
}

// ユーザー編集画面 devise/registrations/edit 0

.user-edit-wrapper {
  font-family: $subFont;
  @include titleStyle;
  .form_panel {
    width: 1100px;
    display:flex;
    margin: 100px auto;
    @include boxStyle;
    .panel_side {
      width: 250px;
      background-color: #F7F7F8;
      border-radius: 14px 0 0 14px;
      text-align: center;
      padding: 50px;
      @include linkStyle($subColor);
    }
    .panel_body {
      width: 850px;
      padding: 50px;
      .form-group {
        padding-bottom : 45px;
        margin: 0px;
        h4 {
          font-size: 16px;
          font-weight: 700;
          border-bottom: 1px solid #ededee;
          padding-bottom: 18px;
          margin: 0px;
        }
        label {
          font-size: 12px;
          font-weight: 700;
          color: $subColor;
        }
        p {
          font-size: 12px;
          font-weight: 700;
          color: $subColor;
          margin: 7px 0;
        }
      }
    }
  }
}