$main-color: #000;
$sub-color: #7D7C83;

// devise/registrations/new & devise/sessions/new
.form {
  width: 470px;
  border-radius: 14px;
  border: 1px solid #ddd;
  margin: 90px auto;
}

.form {
  .form_header {
    padding: 30px;
    text-align: center;
    h2 {
      font-weight: 700;
    }
    p {
      color: $sub-color;
      margin: 0px;
    }
  }
  .form_body {
    .custom-form {
      width: 420px;
      margin-bottom: 25px;
    }
    .remember_me {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .form_footer {
    border-top: 1px solid #ddd;
    padding: 30px;
    text-align: center;
  }
}

// devise/registrations/edit
.wrapper {
  padding: 100px 0;
  .title {
    h1 {
      font-weight: 700;
      text-align: center;
      margin: 30px;
    }
    p {
      color: $sub-color;
      text-align: center;
    }
  }
}

.wrapper {
  .panel {
    width: 1100px;
    border-radius: 14px;
    border: 1px solid #ddd;
    display:flex;
    margin: 100px auto;
  }
}

.wrapper {
  .panel {
    .panel_side {
      width: 250px;
      background-color: #F7F7F8;
      border-radius: 14px 0 0 14px;
      text-align: center;
      padding: 30px 0;
      a {
        color: $sub-color;
        text-decoration: none;
      }
    }
  } 
}

.wrapper {
  .panel {
    .panel_body {
      padding: 50px 50px;
      width: 850px;
      .form-group {
        padding-bottom : 45px;
        margin: 0px;
        h4 {
          font-size: 16px;
          font-weight: bold;
          border-bottom: 1px solid #ededee;
          padding-bottom: 18px;
          margin: 0px;
        }
        label {
          font-size: 12px;
          font-weight: bold;
          color: $sub-color;
        }
        p {
          font-size: 12px;
          font-weight: bold;
          color: $sub-color;
          margin-bottom : 8px;
        }
      }
    }
  } 
}